{{- $_ := .Page.Params -}}
<div class="container">
  {{ with $_.intro }}
  <div id="intro" class="sect">
    <h1 class="section-title">
      {{.title}}
      <span class="span-title">{{.spanTitle}}</span>
    </h1>
    <p>{{.text}}</p>
  </div>
  {{end}}

  {{ with $_.team }}
  <div id="team" class="sect">
    <h2 class="section-title">
      {{.title}}
      <span class="span-title">{{.spanTitle}}</span>
    </h2>
    <div class="members">
      {{range .members}}
      <div class="item">
        <div class="txt-hldr">
          <img src="{{.name}}" style="margin-bottom: 10px; height: 20px; " />
          <p>{{.descr}}</p>
        </div>
        {{if .linkedin}}
        <a class="member-icon" target="_blank" aria-label="linkedin" rel="nofollow noopener" href="{{.linkedin}}">
          <i class="fab fa-linkedin"></i>
        </a>
        {{end}}
      </div>
      {{end}}
    </div>
  </div>
  {{end}}

  {{ with $_.values }}
  <div id="values" class="sect">
    <h2 class="section-title">
      {{.title}}
      <span class="span-title">{{.spanTitle}}</span>
    </h2>
    <div class="cards">
      {{range .items}}
      <div class="item">
        <div class="txt-hldr">
          <img class="ico" src="{{.icon}}">
          <h3>{{.title}}</h3>
          <p>{{.txt}}</p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
  {{end}}

  {{ with $_.vision }}
  <div id="vision" class="sect">
    <h2 class="section-title">
      {{.title}}
      <span class="span-title">{{.spanTitle}}</span>
      {{.extraTitle}}
    </h2>
    <p>{{.text}}</p>
  </div>
  {{end}}

</div>
