{{- $_ := .Page.Params -}}
<div class="container">
  <div class="page-title">
    <h1>{{$_.Title}} <span class="span-title">{{$_.spanTitle}}</span></h1>
  </div>

  {{with $_.sec_1}}
  <div class="sect split first">
    <div class="image" style="background-image:url('{{.img}}')"></div>
    <div class="text">
      <h2 class="title">{{.title}}</h2>
      <p>{{.text}}</p>
    </div>
  </div>
  {{end}}

  {{with $_.sec_2}}
  <div class="sect split second">
    <div class="text">
      <h2 class="title">{{.title}}</h2>
      <p>{{.text}}</p>
    </div>
    <div class="image" style="background-image:url('{{.img}}')"></div>
  </div>
  {{end}}

  {{with $_.sec_steps}}
  <div class="graph">
    <h2 class="title">{{.title}}</h2>
    {{with .steps}}
    <div class="steps">
    {{range .}}
      <div class="item">
        <img class="dskt" src="{{.img}}" />
        <img class="smll" src="{{.img2}}" />
        <h3>{{.title}}</h3>
        <p>{{.text}}</p>
      </div>
      <div class="arw"></div>
    {{end}}
    </div>
    {{end}}
    <div class="resume">
     <div class="box b1"><h3>{{.t2}}</h3></div>
     <div class="barw"></div>
     <div class="box b2"><h3>{{.t3}}</h3></div>
    </div>
  </div>  
  {{end}}

  {{with $_.sec_3}}
  <div class="sect third">
    <div class="title">
      <h2>{{.title}}</h2>
      <p>{{.text}}</p>
    </div>
    {{with .steps}}
    <div class="steps">
    {{range .}}
      <div class="item">
        <h3>{{.title}}</h3>
        <p>{{.text}}</p>
      </div>
    {{end}}
    </div>
   {{end}}
  </div>
  {{end}}

  {{with $_.sec_4}}
  <div class="sect fourth">
    <div class="text">
      <h2 class="title">{{.title}}</h2>
      <p class="mb-[20px]">{{.text1}}</p>
      <p>{{.text2}}</p>
    </div>
  </div>
  {{end}}
</div>
