{{- $_ := .Page.Params -}}
<div class="container">
  <div class="section-title">
    <h1>
      {{$_.title}}
      <span class="span-title">{{$_.spanTitle}}</span>
    </h1>
    <p>{{$_.p1}}</p>
  </div>

  <div class="main">
    <div class="frm-hldr">
      <h2>
        {{$_.subt}}
        <span class="span-title">{{$_.spanSubtitle}}</span>
      </h2>
      <p>{{$_.p2 | markdownify}}</p>
      <form id="ctcfrm">
        {{range $_.form.items}}
        <div class="item">
          <label for="{{.name}}">{{.label}}</label>
          {{ if ne .type "textarea"}}
          {{if ne .type "select"}}
          <div class="input-icon">
            <img src="{{.icon}}">
            <input type="{{.type}}" id="{{.name}}" name="{{.name}}" placeholder="{{.placeholder}}" required>
          </div>
          {{else}}
          <select id="{{.name}}" name="{{.name}}" required>
            <option disabled selected hidden value="">{{.placeholder}}</option>
            {{range .options}}
            <option value="{{.value}}">{{.label}}</option>
            {{end}}
          </select>
          {{end}}
          {{else}}
          <textarea id="{{.name}}" name="{{.name}}" placeholder="{{.placeholder}}" required></textarea>
          {{end}}
        </div>
        {{end}}

        <button id="submit-btn" type="submit" class="btn btn-cta">
          <span id="submit-btn-text">{{$_.form.submit_text}}</span>
          <img id="submit-btn-loader" class="hidden" src="/assets/images/loading-animation.svg"
            style="margin: 0 auto;" />
        </button>
        <div id="subresp"></div>
      </form>
    </div>
  </div>
</div>
<script>
  document
    .addEventListener('DOMContentLoaded', function () {

      const submitBtn = document.getElementById('submit-btn');
      const submitBtnText = document.getElementById('submit-btn-text');
      const submitBtnLoader = document.getElementById('submit-btn-loader');
      const statusBox = document.getElementById('subresp');

      const handleError = () => {
        submitBtn.classList.remove('loading');
        submitBtn.classList.add('error');
        submitBtnLoader.classList.add('hidden');
        submitBtnText.classList.remove('hidden');
        submitBtnText.innerHTML = "{{$_.form.failed_sent}}";
        statusBox.innerHTML = "{{$_.form.retry}}";
      }

      document
        .querySelector('#ctcfrm')
        .addEventListener('submit', function (e) {

          e.preventDefault();

          const data = Object.fromEntries(new FormData(this).entries());

          submitBtn.classList.add('loading');
          submitBtnText.classList.add('hidden');
          submitBtnLoader.classList.remove('hidden');

          const captchaAction = 'CONTACT_REQUEST';

          grecaptcha
            .enterprise
            .ready(async () => {

              const token = await grecaptcha.enterprise.execute(recaptchaKey, { action: captchaAction });

              data.recaptchaToken = token;
              data.recaptchaAction = captchaAction;

              fetch("{{$_.form.action}}", {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                  'Content-Type': 'application/json',
                }
              })
                .then((response) => {
                  document.getElementById('ctcfrm').reset();
                  if (response.status === 200) {
                    submitBtn.classList.remove('loading');
                    submitBtn.classList.add('success');
                    submitBtnLoader.classList.add('hidden');
                    submitBtnText.classList.remove('hidden');
                    submitBtnText.innerHTML = "{{$_.form.message_sent}}";
                  } else handleError();
                })
                .then(() => {
                  setTimeout(() => {
                    submitBtn.classList.remove('success');
                    submitBtnText.innerHTML = "{{$_.form.submit_text}}";
                    statusBox.innerHTML = "";
                  }, 5000); // 5 seconds
                })
                .catch(handleError);
            });
        });
    });
</script>
