{{- $_ := .Page.Params -}}
<div class="container">
  <div class="section-title">
    <h1>
      {{$_.title}}
      <span class="span-title">{{$_.spanTitle}}</span>
    </h1>
    <p>{{$_.p1}}</p>
  </div>

  <div class="main">
    <div class="frm-hldr">
      <h2>
        {{$_.subt}}
        <span class="span-title">{{$_.spanSubtitle}}</span>
      </h2>
      <p>{{$_.p2 | markdownify}}</p>
      <form id="ctcfrm" action="{{$_.form.action}}" method="POST">
        {{range $_.form.items}}
        <div class="item">
          <label for="{{.name}}">{{.label}}</label>
          {{ if ne .type "textarea"}}
          {{if ne .type "select"}}
          <div class="input-icon">
            <img src="{{.icon}}">
            <input type="{{.type}}" id="{{.name}}" name="{{.name}}" placeholder="{{.placeholder}}" required>
          </div>
          {{else}}
          <select id="{{.name}}" name="{{.name}}" required>
            <option disabled selected hidden value="">{{.placeholder}}</option>
            {{range .options}}
            <option value="{{.value}}">{{.label}}</option>
            {{end}}
          </select>
          {{end}}
          {{else}}
          <textarea id="{{.name}}" name="{{.name}}" placeholder="{{.placeholder}}" required></textarea>
          {{end}}
        </div>
        {{end}}
        <button type="submit" class="btn btn-cta">{{$_.form.submit_text}}</button>
        <div id="subresp"></div>
      </form>
    </div>
  </div>

</div>
<script>
  document
    .addEventListener('DOMContentLoaded', function () {
      document
        .querySelector('#ctcfrm')
        .addEventListener('submit', function (e) {

          e.preventDefault();
          var data = this;
          let formData = new FormData(data);
          const dataObject = Object.fromEntries(formData.entries());
          const j_body = JSON.stringify(dataObject);
          
          grecaptcha.enterprise.ready(async () => {
            const token = await grecaptcha.enterprise.execute('6LcMCR0qAAAAAG-sYu0Ej4RVViuvhsMEwTqdLd4d', {action: 'LOGIN'});
          });

          fetch(data.getAttribute('action'), {
            method: data.getAttribute('method'),
            body: j_body
          })
            .then((response) => {
              if (response.status === 200) {
                return response.json();
              } else {
                throw new Error("Something went wrong on server!");
              }
            })
            .then((response) => {

              let resp = JSON.parse(response.body);
              let respbox = document.getElementById('#subresp');
              respbox.innerHTML = '<span>' + resp.message + '</span>';
              e.target.reset()
            })
        });
    });
</script>
