{{- $_ := .Page.Params -}}
<div class="container">
  <div class="title">
    <h1>{{$_.introTitle}} <span class="span-title">{{$_.spanTitle}}</span></h1>
      <p>{{$_.p1}}</p>
  </div>

  <div class="main">
    <div class="frm-hldr">
      <form id="frm">
        <h2>
          {{$_.t2}}
          <span class="span-title">{{$_.t2SpanTitle}}</span>
        </h2>
        <p>{{$_.p2 | markdownify}}</p>
          {{range $_.form.items}}
          <div class="item">
            <label for="{{.name}}">{{.label}}</label>
            <input type="{{.type}}" id="{{.name}}" name="{{.name}}" placeholder="{{.placeholder}}" required>
          </div>
          {{end}}
          <div class="item">
            <button id="submit-btn" type="submit" class="btn btn-cta">
              <span id="submit-btn-text">{{$_.form.submit_text}}</span>
              <img id="submit-btn-loader" class="hidden" src="/assets/images/loading-animation.svg"
                style="margin: 0 auto;" />
            </button>
          </div>
          <div id="subresp"></div>
        </form>
      <div class="img-hldr">
<!--
        <img src="/assets/images/producers-cover.webp" class="cover" />
-->
      </div>
    </div>
  </div>
  
  {{ with $_.why }}
  <div class="pre-footer">
    <div class="pf-content">
      <h2>{{.title}} <span class="span-title">{{.spanTitle}}</span></h2>
      <p>{{.l1 | safeHTML}}</p>
      <p>{{.l2 | safeHTML}}</p>
    </div>
  </div>
  {{ end }}

</div>

{{ with site.Params }}
<script>
  document
    .addEventListener('DOMContentLoaded', function () {

      const submitBtn = document.getElementById('submit-btn');
      const submitBtnText = document.getElementById('submit-btn-text');
      const submitBtnLoader = document.getElementById('submit-btn-loader');
      const statusBox = document.getElementById('subresp');

      const handleError = () => {
        submitBtn.classList.remove('loading');
        submitBtn.classList.add('error');
        submitBtnLoader.classList.add('hidden');
        submitBtnText.classList.remove('hidden');
        submitBtnText.innerHTML = "{{$_.form.failed_sent}}";
        statusBox.innerHTML = "{{$_.form.retry}}";
      }

      document
        .querySelector('#ctcfrm')
        .addEventListener('submit', function (e) {

          e.preventDefault();

          const data = Object.fromEntries(new FormData(this).entries());

          submitBtn.classList.add('loading');
          submitBtnText.classList.add('hidden');
          submitBtnLoader.classList.remove('hidden');

          const captchaAction = 'CONTACT_REQUEST';
          grecaptcha
            .enterprise
            .ready(async () => {

              const token = await grecaptcha.enterprise.execute("{{.recaptcha.key}}", { action: captchaAction });

              data.recaptchaToken = token;
              data.recaptchaAction = captchaAction;
              data.client = 'CLIENT_WEB_SITE_DEV';

              fetch("{{.apis.basePath}}/{{$_.form.actionEndpoint}}", {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                  'Content-Type': 'application/json',
                }
              })
                .then((response) => response.json())
                .then((response) => {
                  document.getElementById('ctcfrm').reset();

                  if (response.status === 200) {
                    submitBtn.classList.remove('loading');
                    submitBtn.classList.add('success');
                    submitBtnLoader.classList.add('hidden');
                    submitBtnText.classList.remove('hidden');
                    submitBtnText.innerHTML = "{{$_.form.message_sent}}";
                  } else handleError();

                  setTimeout(() => {
                    submitBtn.classList.remove('success', 'error');
                    submitBtnText.innerHTML = "{{$_.form.submit_text}}";
                    statusBox.innerHTML = "";
                  }, 5000); // 5 seconds
                })
                .catch(handleError);
            });
        });
    });
</script>
{{end}}
