{{- $_ := .Page.Params -}}
<div class="container">
  <div class="split">
    <div class="first">
      <h1 class="title span-title">{{$_.title}}</h1>
      <p>{{$_.p1}}</p>
    </div>
    <div class="second">
      <img class="img-holder" src="{{$_.cover}}" />
    </div>
  </div>
  <div class="step-list">
    {{ range $_.quarters }}
    <div class="quarter">
      <div class="label{{with .class}} {{.}}{{end}}"><span class="icon"></span>
        <h2>{{.name}}</h2>
      </div>
      <div class="steps-wrapper">
        <h5>
          {{.title}}
        </h5>
        <div class="steps">
          {{ range .steps }}
          {{if .innerTitle}}
          <h5 class="w-full my-3">
            {{.innerTitle}}
          </h5>
          {{end}}
          {{if .icon}}
          <div class="item">
            <img src="{{.icon}}" /><span>{{.step}}</span>
          </div>
          {{end}}
          {{end}}
        </div>
      </div>
    </div>
    {{end}}
  </div>
  <div class="last">
    <h2>
      {{$_.t2}}
      <span class="span-title">{{$_.t2SpanTitle}}</span>
    </h2>
    <p>{{$_.p2}}</p>
  </div>
</div>
