{{- $_ := .Page.Params -}}
<div class="container">
    <div class="row text-center justify-center my-8 py-8">
        <h2 class="my-8 text-h4 lg:text-h2">
          {{ $_.final_cta.title | markdownify }}
        </h2>
        <p class="my-8"> {{ $_.final_cta.text | markdownify }}</p>
        
        <p class="my-8">
            <a class="btn btn-cta bg-cta text-dark hover:bg-purple-900 font-semibold hover:text-white" href="{{ $_.final_cta.btn_link}}">
                    {{ $_.final_cta.btn_label }}
            </a>
        </p>
    </div>
</div>
