<footer id="footer" class="bg-theme-light dark:bg-darkmode-theme-light">
    <div class="container">
        <div class="intro-row">
        
          <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:text-left">
            <!-- Brand/logo -->
            <a class="navbar-brand inline-block"
              href="{{ site.Home.RelPermalink }}">
              {{ partial "image.html" (dict "Src" .Site.Params.logo_footer "Size" .Site.Params.logo_footer_size ) }}
            </a>
          </div>
          
          <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:mt-0 lg:text-right">
            <!-- Social icons -->
            <ul class="social-icons">
              {{ range site.Data.social.main }}
                <li>
                  <a
                    target="_blank"
                    aria-label="{{ .name }}"
                    rel="nofollow noopener"
                    href="{{ .link | safeURL }}">
                    <img src="/assets/images/icons/social/social-icons-{{ .name }}-circle.svg" />
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>

        </div>
    
        <div class="main-row">
            <!-- Newsletter -->
            <div class="lg:col-6 frm-hldr">
                {{ partial "common/newsletter.html" . }}
            </div>
            
            <!-- Footer Menu -->
            <div class="footer-menu">
            {{ $currentPage := . }}
            {{ range site.Menus.footer }}
                {{ $menuURL := .URL | absLangURL }}
                {{ $pageURL:= $currentPage.Permalink | absLangURL }}
                {{ $active := eq $menuURL $pageURL }}
                <div class="menu-col mb-8 lg:mb-0 lg:text-left">
                {{ if .HasChildren }}
                    <h3 class="mb-4">
                      {{ .Name }}
                    </h3>
                    <ul
                      class="">
                      {{ range .Children }}
                        {{ $childURL := .URL | absLangURL }}
                        {{ $active := eq $childURL $pageURL }}
                        <li class="nav-dropdown-item">
                          <a
                            class="nav-dropdown-link {{ if $active }}
                              active
                            {{- end -}}"
                            {{ if findRE `^http` .URL }}
                              target="_blank" rel="noopener"
                            {{ end }}
                            href="{{- if findRE `^#` .URL -}}
                              {{- if not $.IsHome -}}
                                {{- site.Home.RelPermalink -}}
                              {{- end }}
                              {{- .URL -}}
                            {{- else -}}
                              {{- .URL | relLangURL -}}
                            {{- end -}}">
                            {{ .Name }}
                          </a>
                        </li>
                      {{ end }}
                    </ul>

                {{ else }}
                    {{ if ne .URL "/" }}
                        <p><a
                          class="nav-link {{ if $active }}active{{- end -}}"
                          {{ if findRE `^http` .URL }}
                            target="_blank" rel="noopener"
                          {{ end }}
                          href="{{- if findRE `^#` .URL -}}
                            {{- if not $.IsHome -}}
                              {{- site.Home.RelPermalink -}}
                            {{- end }}{{- .URL -}}
                          {{- else -}}
                            {{- .URL | relLangURL -}}
                          {{- end -}}"
                          >{{ .Name }}</a></p>
                    {{ end }}
                {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
        <!-- main-row end -->

        <div class="last-row border-border dark:border-darkmode-border border-t py-10">
            <!-- Copyright -->
            <div class="copyright">
                <p>{{ site.Params.copyright | markdownify }}</p>
            </div>

            <!-- Legal info  -->
            <div class="legal">
                 {{ range site.Menus.legal }}
                     {{if (not (isset .Params "hide")) }}
                         {{ $menuURL := .URL | absLangURL }}
                         {{ $pageURL:= $currentPage.Permalink | absLangURL }}
                         {{ $active := eq $menuURL $pageURL }}
                         <a class="nav-item {{ if $active }}active{{- end -}}{{with .Params.class}} {{.}}{{end}}"
                              {{ if findRE `^http` .URL }}
                                target="_blank" rel="noopener"
                              {{ end }}
                              href="{{- if findRE `^#` .URL -}}
                                {{- if not $.IsHome -}}
                                  {{- site.Home.RelPermalink -}}
                                {{- end }}{{- .URL -}}
                              {{- else -}}
                                {{- .URL | relLangURL -}}
                              {{- end -}}"
                          >{{ .Name }}</a>
                     {{end}}
                 {{end}}
            </div>
            
        </div>
    </div>

</footer>
