// Add your own custom styles here
// Variables: 

@tailwind base;
@tailwind components;
@tailwind utilities;

$qu: 10px; // quarter u
$hu: 20px; // half u
$u: 40px; // unit
$du: 80px; // double u
$tu: 120px; // triple u

// Colors: // to be updated

$dd-text: #ffffff;
$dd-background: #2f2b36;
$dd-primary: #6655E4;
$dd-secondary_: #e9dff6;
$dd-secondary: #6655e4;
$dd-middle: #a89aed;
$dd-accent: #ece9f1;
$dd-acc-dark: #e47c53;
$dd-acc-light: #53e588;

// Light & Ultra light variations:

$dd-primary-l: #A49BE4; 
$dd-secondary-l_: #F0ECF6;
$dd-secondary-l: #A49BE4;
$dd-background-l: #3A3640;

$dd-primary-ul: #C4C0E4;
$dd-secondary-ul_: #F6F6F6;
$dd-secondary-ul: #C4C0E4;
$dd-background-ul: #2f2b36;



// SPACING

.dd-bt-u{
    bottom: $u;
}

.dd-bt-2u{
    bottom: $du;
}

.dd-bt-3u{
    bottom: $tu;
}

// HTML tags

section {
    margin: (3 * $u) auto;
}

section.page-content, section.intro {
    margin-top: 2 * $u;
}


pre{
    text-wrap: wrap;
}


// --- General classes ---

.row .section-title {
    margin-bottom: $du;
}

.dd-gradient {
    background: -webkit-linear-gradient(0deg, $dd-primary, $dd-secondary );
    background: linear-gradient(90deg, $dd-primary, $dd-secondary );
}

.dd-gradient-light {
    background: -webkit-linear-gradient(0deg, $dd-primary-l, $dd-secondary-l );
    background: linear-gradient(90deg, $dd-primary-l, $dd-secondary-l );
    color: $dd-background;
}


.dd-gradient-ul {
    background: -webkit-linear-gradient(0deg, $dd-primary-ul, $dd-secondary-ul );
    background: linear-gradient(90deg, $dd-primary-ul, $dd-secondary-ul );
    color: $dd-background;
}

.dd-rounded {
    border-radius: $u;
}

.dd-leaf {
    border-radius: 0 $u;
}

.dd-ballon {
    border-radius: $u $u $u 0;
}

.dd-drop {
    border-radius: 0 $u $u $u;
}

.dd-card {
    border: 1px solid $dd-secondary;
    border-image: linear-gradient(0deg, $dd-primary, $dd-secondary) 1;
    border-image: -webkit-linear-gradient(0deg, $dd-primary, $dd-secondary) 1;
    border-radius: $qu;
    padding: $u;
}

.dd-card .card-img{
    margin: auto;
    width: 50%;
}
.dd-card .card-title{
    margin: $u auto;
    text-align: center;
}
.dd-card .card-text{
    text-align: justify;
}

// alternate rows

.alternate{
    align-items: center;
    justify-content: left;
}

.alternate div{
    width: 50%;
}

.alternate.inv{
    flex-direction: row-reverse;
}

.alternate .alt-title{
    margin-bottom: $u;
}

.alternate.inv .txt-hldr{
    text-align: right;
    margin-right:0;
}

// Items

.btn.btn-cta {
    text-align: center;
    padding: 14px 27px;
    width: 240px;
    height: 58px;

    /* Accent/Accent Pink */
    background: linear-gradient(90deg, #6655E4 12%, #9F54DB 67%, #AA55DD 100%);
    /* Shadows/Shadow Medium */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    border: 2px solid #FFF;
}

h2.section-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 58.09px;
    text-align: center;
    margin-bottom:50px;
}

// ----- PAGES -----

// -- HOME --

section#page-header, section#hero {
    margin-top: $u;
    margin-bottom: 0;
}

section#hero {
    padding-top: 0;
    margin-top: 0;
}

section#hero .txt_hldr{
    position: absolute;
    width:50%;
    bottom: $tu;
}

section#hero .title h1{  
    font-size: 96px;
    font-weight: 600;
    line-height: 116.18px;
    color: #FAFAFA;
    margin-bottom:10px;
}

section#hero .text p{
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    margin-bottom:40px;
}

section#hero .text span{
    font-weight: 600;
}

section#hero .cta-row{
    display: flex;
    align-items: center;
    gap: 45px;
}

section#hero .cta-row a{
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
}

section#hero .img_hldr {
    position: absolute;
    width:49%;
    right: 0;
    bottom: $tu;
}

section#hero .img_hldr img{
    width: 750px;
}

//---
    
section#roles .rbox{
    position: relative;
    border: 4px solid #FFFFFF;
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 38px 50px;
    margin-top: 160px;
}

section#roles .rbox.vg-bg{
    background: linear-gradient(90deg, #5C4ADF 0%, #A391FF 100%);
}

section#roles .rbox.pg-bg{
    background: linear-gradient(90deg, #B15FFE 4.5%, #C8A8FF 61.5%);
}

section#roles .rbox h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
    margin-bottom: 12px;
}

section#roles .rbox p{
    width: 50%;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    margin-bottom: 20px;
}

section#roles .rbox .cta_row{
    display: flex;
    align-items: center;
    gap: 30px;
}

section#roles .rbox .pill {
    display: block;
    height: 50px;
    padding: 17px 27px 17px 27px;
    gap: 10px;
    border-radius: 40px;
    border: 0.7px 0px 0px 0px;
    background: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    border: 0.7px solid #FFFFFF99;
    transition: all 0.3s ease-in;
}

section#roles .rbox.vg-bg .pill {
   color: #6756E5;
}

section#roles .rbox.pg-bg .pill {
    color: #B15BF4
}
section#roles .rbox .pill:hover{
    background: none;
    color: #FFF;
}

section#roles .rbox .txt-cta {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
}

section#roles .rbox .txt-cta span:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: url('/assets/images/grth.webp');
    background-size: cover;
    
    float: right;
    margin-top: 5px;
    margin-left: 10px;
    
}

section#roles .rbox .img_hldr {
    position: absolute;
    right: 130px;
    bottom: -10px;
    width: 420px;
}


section#roles .rbox .cd_hldr {
    position: absolute;
    display: block;
    width: 71px;
    height: 60px;
    right: 25px;
    bottom: 5px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.25));
    
}

//---

section#certifications {
    background: #262626;
    padding: 60px 0;
}

section#certifications .section-title{
    margin-bottom: 50px;
}

section#certifications .pnls_hldr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#certifications .lft-pnl{
    width: 600px;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#certifications .block{
    width: 100%;
    height: 200px;
    background: #171717;
    padding: 12px 36px;
    border-radius: 24px;
}

section#certifications .block img{
    height: 50px;
    margin-bottom: 6px;
}

section#certifications .block h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
}

section#certifications .block p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

section#certifications .rgt-pnl{
    width: 600px;
    height: 660px;
    position: relative;
    background: url("/assets/images/home/cert-plchldr.webp");
    background-size: cover;
}

section#certifications .rgt-pnl .pill{
    position: absolute;
    bottom: 28px;
    left: 28px;
    display: block;
    height: 50px;
    padding: 15px 23px;
    gap: 10px;
    border-radius: 40px;
    border: 0.7px 0px 0px 0px;
    background: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    border: 0.7px solid #FFFFFF99;
    transition: all 0.3s ease-in;
    color: #6756E5;
    box-shadow: 0px 2px 20px 0px #00000040;

}

section#certifications .rgt-pnl .pill:hover {
    background: none;
    color: #FFF;
}



















// -- TO BE REVIEWED --

.items-hldr {
    display: flex;

}

.dd-item .itm-img{
    margin: auto;
    width: 50%;
}

.dd-item .itm-title{
    margin: $u auto;
    text-align: center;
    color: white;
}
.dd-item .itm-text{
    padding: 0 $u;
    text-align: center;
}


#final_cta .container{
    border: 1px solid $dd-secondary;
    border-image: linear-gradient(0deg, $dd-primary, $dd-secondary) 1;
    border-image: -webkit-linear-gradient(0deg, $dd-primary, $dd-secondary) 1;
    border-radius: $qu;
    padding: $u;
}


// -- ROADMAP 


.timeline .row:nth-child(1) .year{
    justify-content: flex-end;
}

.timeline .circle {
    padding: 13px 7px;
    border-radius: 50%;
    background-color: $dd-middle;
    color: $dd-background;
    max-height: 50px;
    z-index: 2;
}

.timeline .vertical-line::after {
    content: '';
    position: relative;
    border-left: 3px solid $dd-middle;
    z-index: 1;
    height: 100%;
    left: -25px;
}

.timeline .horizontal-line div {
    padding: 0;
    height: 40px;
}

.timeline .horizontal-line .timeline-side-div {
    display: flex;
    overflow: hidden;
}

.timeline .horizontal-line .corner {
    border: 3px solid $dd-middle;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .horizontal-line .corner {
    border: 3px solid $dd-middle;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .horizontal-line hr {
    border-top: 3px solid $dd-middle;
    margin: 0;
    top: 17px;
    position: relative;
    opacity: 1;
}


.timeline .row:nth-child(2n) div:nth-child(1) .corner {
    left: calc(50% - 2px);
    top: -50%;
}

.timeline .row:nth-child(2n) div:nth-child(3) .corner {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .row:nth-child(4n) div:nth-child(1) .corner {
    left: calc(50% - 2px);
    top: calc(50% - 3px);
}

.timeline .row:nth-child(4n) div:nth-child(3) .corner {
    left: -50%;
    top: -50%;
}

.timeline .quarter {
    width: 25%;
    border: 1px solid $dd-primary;
    border-radius: $qu; 
}

.timeline .plchldr {
    width: 25%;
}

.timeline .quarter .subtitle{
    color: $dd-middle;
}
