// Add your own custom styles here
// Variables: 

@tailwind base;
@tailwind components;
@tailwind utilities;

$qu: 10px; // quarter u
$hu: 20px; // half u
$u: 40px; // unit
$du: 80px; // double u
$tu: 120px; // triple u

// Colors:

$dd-text: #ffffff;
$dd-background: #2f2b36;
$dd-primary: #6655E4;
$dd-secondary: #e9dff6;
$dd-middle: #a89aed;
$dd-accent: #ece9f1;
$dd-acc-dark: #e47c53;
$dd-acc-light: #53e588;

// Light & Ultra light variations:

$dd-primary-l: #A49BE4; 
$dd-secondary-l: #F0ECF6;
$dd-background-l: #3A3640;

$dd-primary-ul: #C4C0E4;
$dd-secondary-ul: #F6F6F6;
$dd-background-ul: #2f2b36;

// HTML tags

section {
    margin: (3 * $u) auto;
}

// Home start 
section#page-header, section#main {
    margin-top: $u;
    margin-bottom: 0;
}

section.page-content, section.intro {
    margin-top: 2 * $u;
}


pre{
    text-wrap: wrap;
}

// General classes



.row .section-title {
    margin-bottom: $du;
}

.dd-gradient {
    background: -webkit-linear-gradient(0deg, $dd-primary, $dd-secondary );
    background: linear-gradient(90deg, $dd-primary, $dd-secondary );
}

.dd-gradient-light {
    background: -webkit-linear-gradient(0deg, $dd-primary-l, $dd-secondary-l );
    background: linear-gradient(90deg, $dd-primary-l, $dd-secondary-l );
    color: $dd-background;
}


.dd-gradient-ul {
    background: -webkit-linear-gradient(0deg, $dd-primary-ul, $dd-secondary-ul );
    background: linear-gradient(90deg, $dd-primary-ul, $dd-secondary-ul );
    color: $dd-background;
}

.dd-rounded {
    border-radius: $u;
}

.dd-leaf {
    border-radius: 0 $u;
}

.dd-ballon {
    border-radius: $u $u $u 0;
}

.dd-drop {
    border-radius: 0 $u $u $u;
}


.dd-card {
    border: 1px solid $dd-secondary;
    border-image: linear-gradient(0deg, $dd-primary, $dd-secondary) 1;
    border-image: -webkit-linear-gradient(0deg, $dd-primary, $dd-secondary) 1;
    border-radius: $qu;
    padding: $u;
}

.dd-card .card-img{
    margin: auto;
    width: 50%;
}
.dd-card .card-title{
    margin: $u auto;
    text-align: center;
}
.dd-card .card-text{
    text-align: justify;
}

// alternate rows

.alternate{
    align-items: center;
    justify-content: left;
}

.alternate div{
    width: 50%;
}

.alternate.inv{
    flex-direction: row-reverse;
}

.alternate .alt-title{
    margin-bottom: $u;
}

.alternate.inv .txt-hldr{
    text-align: right;
    margin-right:0;
}

// Items


.items-hldr {
    display: flex;

}

.dd-item .itm-img{
    margin: auto;
    width: 50%;
}

.dd-item .itm-title{
    margin: $u auto;
    text-align: center;
    color: white;
}
.dd-item .itm-text{
    padding: 0 $u;
    text-align: center;
}


#final_cta .container{
    border: 1px solid $dd-secondary;
    border-image: linear-gradient(0deg, $dd-primary, $dd-secondary) 1;
    border-image: -webkit-linear-gradient(0deg, $dd-primary, $dd-secondary) 1;
    border-radius: $qu;
    padding: $u;
}




#main h1{
    color: $dd-secondary;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Jost, 'sans serif';
}

#main h1 span{
    -webkit-text-fill-color: white;
}

.btn.btn-cta {
    font-family: Jost, 'sans serif';
    text-transform: uppercase;
}


// ROADMAP


.timeline .row:nth-child(1) .year{
    justify-content: flex-end;
}

.timeline .circle {
    padding: 13px 7px;
    border-radius: 50%;
    background-color: $dd-middle;
    color: $dd-background;
    max-height: 50px;
    z-index: 2;
}

.timeline .vertical-line::after {
    content: '';
    position: relative;
    border-left: 3px solid $dd-middle;
    z-index: 1;
    height: 100%;
    left: -25px;
}

.timeline .horizontal-line div {
    padding: 0;
    height: 40px;
}

.timeline .horizontal-line .timeline-side-div {
    display: flex;
    overflow: hidden;
}

.timeline .horizontal-line .corner {
    border: 3px solid $dd-middle;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .horizontal-line .corner {
    border: 3px solid $dd-middle;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .horizontal-line hr {
    border-top: 3px solid $dd-middle;
    margin: 0;
    top: 17px;
    position: relative;
    opacity: 1;
}


.timeline .row:nth-child(2n) div:nth-child(1) .corner {
    left: calc(50% - 2px);
    top: -50%;
}

.timeline .row:nth-child(2n) div:nth-child(3) .corner {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .row:nth-child(4n) div:nth-child(1) .corner {
    left: calc(50% - 2px);
    top: calc(50% - 3px);
}

.timeline .row:nth-child(4n) div:nth-child(3) .corner {
    left: -50%;
    top: -50%;
}

.timeline .quarter {
    width: 25%;
    border: 1px solid $dd-primary;
    border-radius: $qu; 
}

.timeline .plchldr {
    width: 25%;
}

.timeline .quarter .subtitle{
    color: $dd-middle;
}
