// Do not change the order of BPs since they're used in the declaration's order

// BEYOND XL 
@media only screen and (min-width: 1280px) {

  // HERO
  #hero .txt_hldr {
    @apply left-10 top-40 right-12 w-[750px] text-balance #{!important};
  }

  #hero .img_hldr {
    @apply top-16 #{!important};
  }

  #hero .cta-row {
    @apply flex-row items-center gap-4 #{!important};
  }

  // END HERO
  // ROLES
  #roles .rbox .pill {
    @apply w-fit #{!important};
  }

  // END ROLES
  // CERTIFICATIONS
  #certifications {
    @apply pb-6;
    @apply rounded-3xl;
  }

  #certifications .section-title {
    @apply text-2xl #{!important};
  }

  #certifications .pnls_hldr {
    @apply flex-row #{!important};
  }

  #certifications .pnls_hldr .lft-pnl {
    @apply gap-6 #{!important};
  }

  #certifications .pnls_hldr .lft-pnl div {
    @apply p-[30px] #{!important};
  }

  #certifications .pnls_hldr .lft-pnl div h3 {
    @apply text-base mb-[10px] #{!important}
  }

  #certifications .pnls_hldr .lft-pnl div p {
    line-height: 16.94px !important;
    font-size: 14px !important;
  }

  #certifications .pnls_hldr .lft-pnl img {
    @apply w-[30px] h-[30px] mb-[10px] #{!important};
  }

  // END CERTIFICATIONS
}

// FROM LG TO XL
@media only screen and (max-width: 1279px) {

  // HERO
  #hero #hero1 {
    height: 750px !important;
  }

  #hero .txt_hldr {
    @apply left-20 top-44 right-12 w-auto #{!important};
  }

  #hero .title h1 {
    @apply text-4xl w-96 #{!important};
  }

  #hero .img_hldr {
    @apply top-16 #{!important};
  }

  #hero .cta-row {
    @apply flex-row items-center gap-4 #{!important};
  }

  // END HERO

  // ROLES
  #roles .rbox .pill {
    @apply w-fit #{!important};
  }

  #roles .rbox .img_hldr {
    @apply right-7 bottom-1 #{!important};
  }

  #roles .rbox .img-hldr {
    @apply w-full #{!important};
  }

  #roles .rbox h3 {
    @apply w-auto #{!important};
  }

  #roles .rbox p {
    @apply w-auto #{!important};
  }

  // END ROLES
  // CERTIFICATIONS
  #certifications {
    @apply pb-6;
    @apply rounded-3xl;
  }

  #certifications .section-title {
    @apply text-2xl #{!important};
  }

  #certifications .pnls_hldr {
    @apply flex-row gap-4 #{!important};
  }

  #certifications .pnls_hldr .lft-pnl {
    @apply justify-normal items-center gap-[20px] h-auto w-full #{!important};
  }

  #certifications .pnls_hldr .lft-pnl div {
    @apply h-auto p-[30px] w-[500px] #{!important};
  }

  #certifications .pnls_hldr .lft-pnl div h3 {
    @apply text-base mb-[10px] #{!important}
  }

  #certifications .pnls_hldr .lft-pnl div p {
    line-height: 16.94px !important;
    font-size: 14px !important;
  }

  #certifications .pnls_hldr .lft-pnl img {
    @apply w-[30px] h-[30px] mb-[10px] #{!important};
  }

  #certifications .pnls_hldr .rgt-pnl .pill {
    @apply bottom-[68px] #{!important};
  }

  // END CERTIFICATIONS
  // COUNTDOWN
  #countdown .pnls_hldr .image-hldr {
    @apply bg-contain bg-no-repeat #{!important};
  }

  // END COUNTDOWN
}

// FROM MD TO LG
@media only screen and (max-width: 1023px) {

  // HERO
  #hero #hero1 {
    @apply h-[600px] #{!important};
  }

  #hero .txt_hldr {
    @apply left-12 top-32 right-12 w-auto #{!important};
  }

  #hero .title h1 {
    @apply text-3xl w-80 #{!important};
  }

  #hero .text p {
    @apply w-96 #{!important};
  }

  #hero .img_hldr {
    @apply top-16 #{!important};
  }

  #hero .cta-row {
    @apply flex-col items-start gap-4 #{!important};
  }

  // END HERO
  // ROLES

  #roles .section-title {
    @apply text-2xl #{!important};
  }

  #roles .rbox:first-of-type {
    @apply m-0 p-7 flex-col #{!important};
  }

  #roles .rbox:last-of-type {
    @apply mt-0 p-7 flex-col-reverse #{!important};
  }

  #roles .left-content {
    @apply w-full #{!important};
  }

  #roles .right-content {
    @apply w-full #{!important};
  }

  #roles .rbox h3 {
    @apply text-[40px] mb-[20px] w-full #{!important};
  }

  #roles .rbox p {
    @apply text-sm w-full mb-[20px] text-white #{!important};
  }

  #roles .rbox .img_hldr {
    @apply static w-full #{!important};
  }

  #roles .rbox .img_hldr img {
    @apply mx-auto #{!important};
  }

  #roles .rbox .pill {
    @apply text-center rounded-xl #{!important};
  }

  // END ROLES
  // CERTIFICATIONS
  #certifications {
    @apply pb-6;
    @apply rounded-3xl;
  }

  #certifications .section-title {
    @apply text-2xl #{!important};
  }

  #certifications .pnls_hldr {
    @apply flex-row gap-4 #{!important};
  }

  #certifications .pnls_hldr .lft-pnl {
    @apply w-full justify-normal items-center h-auto #{!important};
  }

  #certifications .pnls_hldr .lft-pnl div {
    @apply h-auto p-4 #{!important};
  }

  #certifications .pnls_hldr .lft-pnl div h3 {
    @apply text-base mb-[10px] #{!important}
  }

  #certifications .pnls_hldr .lft-pnl div p {
    line-height: 16.94px !important;
    font-size: 14px !important;
  }

  #certifications .pnls_hldr .lft-pnl img {
    @apply w-[30px] h-[30px] mb-[10px] #{!important};
  }

  #certifications .pnls_hldr .rgt-pnl a {
    @apply hidden #{!important};
  }

  // END CERTIFICATIONS
  // COUNTDOWN
  #countdown {
    @apply m-0 my-12 #{!important};
  }

  #countdown .pnls_hldr {
    @apply flex-col gap-4 items-center #{!important};
  }

  #countdown .pnls_hldr .lft-pnl {
    @apply w-full text-center #{!important};
  }

  #countdown .pnls_hldr .lft-pnl .section-title {
    @apply text-2xl text-center text-balance #{!important};
  }

  #countdown .pnls_hldr .lft-pnl p {
    @apply text-sm text-center w-[310px] m-auto mb-4 #{!important};
  }

  // END COUNTDOWN
}

// FROM XS TO MD
@media only screen and (max-width: 767px) {

  // HERO
  #hero #hero1 {
    @apply relative h-[750px] #{!important};
  }

  #hero .txt_hldr {
    @apply left-6 top-8 right-6 w-auto #{!important};
  }

  #hero .title h1 {
    @apply text-[32px] leading-normal font-semibold text-balance w-full #{!important};
  }

  #hero .text p {
    @apply w-full #{!important};
  }

  #hero .img_hldr {
    @apply top-[270px] w-full max-w-[450px] left-1/2 -translate-x-1/2 #{!important};
  }

  #hero .img_hldr img {
    @apply w-full #{!important};
  }

  #hero .text p {
    @apply text-sm font-normal mb-3 #{!important};
  }

  #hero .cta-row {
    @apply gap-4 flex-row items-center #{!important};
  }

  #hero .cta-row .button a {
    @apply w-[175px] h-12 font-normal text-sm #{!important};
  }

  #hero .cta-row .txt-cta a {
    @apply text-sm text-nowrap #{!important};
  }

  // END HERO

  // ROLES

  #roles {
    @apply mt-0 pt-0 #{!important};
  }

  #roles .section-title {
    @apply text-2xl #{!important};
  }

  #roles .rbox:first-of-type {
    @apply m-0 p-7 flex-col #{!important};
  }

  #roles .rbox:last-of-type {
    @apply m-0 p-7 flex-col-reverse #{!important};
  }

  #roles .left-content {
    @apply w-full #{!important};
  }

  #roles .right-content {
    @apply w-full #{!important};
  }

  #roles .rbox h3 {
    @apply text-[40px] mb-[20px] w-full #{!important};
  }

  #roles .rbox p {
    @apply text-sm w-full mb-[20px] text-white #{!important};
  }

  #roles .rbox .img_hldr {
    @apply static w-full h-auto #{!important};
  }

  #roles .rbox .pill {
    @apply text-center rounded-xl #{!important};
  }

  // END ROLES

  // CERTIFICATIONS
  #certifications {
    @apply pb-6;
    @apply rounded-3xl;
  }

  #certifications .section-title {
    @apply text-2xl #{!important};
  }

  #certifications .pnls_hldr {
    @apply flex-col-reverse gap-4 #{!important};
  }

  #certifications .pnls_hldr .lft-pnl {
    @apply w-full gap-4 justify-normal items-center h-auto #{!important};
  }

  #certifications .pnls_hldr .lft-pnl div {
    @apply h-auto w-full p-3 #{!important};
  }

  #certifications .pnls_hldr .lft-pnl div h3 {
    @apply text-base mb-[10px] #{!important}
  }

  #certifications .pnls_hldr .lft-pnl div p {
    line-height: 16.94px !important;
    font-size: 14px !important;
  }

  #certifications .pnls_hldr .lft-pnl img {
    @apply w-[30px] h-[30px] mb-[10px] #{!important};
  }

  #certifications .pnls_hldr .rgt-pnl {
    @apply h-[350px] #{!important};
  }

  #certifications .pnls_hldr .rgt-pnl a {
    @apply hidden #{!important};
  }

  // END CERTIFICATIONS

  // COUNTDOWN
  #countdown {
    @apply m-0 my-12 #{!important};
  }

  #countdown .pnls_hldr {
    @apply flex-col gap-4 items-center #{!important};
  }

  #countdown .pnls_hldr .lft-pnl {
    @apply w-full text-center #{!important};
  }

  #countdown .pnls_hldr .lft-pnl .section-title {
    @apply text-2xl text-center text-balance #{!important};
  }

  #countdown .pnls_hldr .lft-pnl p {
    @apply text-sm text-center w-full m-auto mb-4 #{!important};
  }

  #countdown .pnls_hldr .image-hldr {
    @apply w-full m-0 bg-center bg-no-repeat bg-contain h-[300px] #{!important};
  }

  #countdown a {
    @apply text-sm py-4 px-7 rounded-[40px] #{!important};
  }

  // END COUNTDOWN
  // INFO
  #info {
    @apply mb-0 #{!important};
  }

  #info .section-title {
    @apply w-full text-2xl #{!important};
  }

  #info .card {
    @apply w-full p-4 #{!important};
  }

  #info .card h3 {
    @apply w-full #{!important};
  }

  #info .card p {
    @apply w-full #{!important};
  }

  #info .card a {
    @apply left-5 bottom-4 #{!important};
  }

  // END INFO
}
