{{ define "main" }}
{{ $_ := .Params }}
{{ $tformat := "2 Jan 2006" }}
{{ $img := .Params.image }}
<section class="section news-detail">
  <div class="container">
    <div class="info">
      <span>{{ $_.date | time.Format $tformat }}</span>
      <span class="category"><img src="/assets/images/icons/news-cat-icon.webp">{{.Params.category}}</span>
      <span>{{.ReadingTime}} Min Read</span>
    </div>
    <div class="title">
        <h1>{{$_.title}}</h1>
        <p>{{$_.description}}</p>
    </div>
    <div class="shrhldr">
        <div class="author">
            <img src="/assets/images/icons/news-author-icon.webp"> {{$_.author}}
        </div>
        {{ partial "components/custom-share" . }}
    </div>
    {{ with $_.hideCover }}{{ else }}
    <div class="img_hldr" style="background-image:url('{{$img}}');"></div>
    {{ end }}
    <article class="content">
        {{ .Content }}
    </article>
    <div class="go-back">
      <a class="btn btn-cta" href="/news/">Go back</a>
    </div>
    <div class="sepline"></div>
    <div class="secondary">    
      <div class="shrhldr">
        <div class="author">
          <img src="/assets/images/icons/news-author-icon.webp">{{$_.author}}
        </div>
        {{ partial "components/custom-share" . }}
      </div>
      {{ partial "common/latest-news" . }}
    </div>
  </section>
{{ end }}
