{{- $_ := .Page.Params -}}
<div class="container">
    <div class="row justify-center">
        <div class="section-title text-center mb-8">
            <h2 class="text-h4 lg:text-h2">
              {{ $_.involved.title | markdownify }}
            </h2>
        </div>
        <div class="flex gap-x-lg">
            {{ range  $_.involved.items }}
            <div class="flex-initial dd-item">
                <img class="itm-img" src="/assets/images/icons/{{.icon}}">
                <h3 class="itm-title">{{ .title }}</h3>
                <p class="itm-text">{{ .text }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</div>
