{{- $_ := .Page.Params -}}
{{ with $_.roles }}
<div class="container">
  <div class="rbox">
    <div class="left-content">
      <div class="tag">{{.block_1.tag}}</div>
      <h3>
        {{.block_1.title}}
        <span>{{.block_1.spanTitle}}</span>
      </h3>
      <p>{{.block_1.text}}</p>
      <a href="{{.block_1.cta_1.link}}" class="pill">{{.block_1.cta_1.text}}</a>
    </div>
    <div class="right-content">
      <div class="img_hldr"><img src="{{.block_1.img}}" alt="{{.block_1.title}}"></div>
    </div>
  </div>
  <div class="rbox">
    <div class="left-content">
      <div class="img_hldr"><img src="{{.block_2.img}}" alt="{{.block_2.title}}"></div>
    </div>
    <div class="right-content">
      <div class="tag">{{.block_2.tag}}</div>
      <h3>
        {{.block_2.title}}
        <span>{{.block_2.spanTitle}}</span>
      </h3>
      <p>{{.block_2.text}}</p>
      <a href="{{.block_2.cta_1.link}}" class="pill">{{.block_2.cta_1.text}}</a>
    </div>
  </div>
</div>

<script>
  var acc = document.getElementsByClassName("toggler");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.parentNode.nextElementSibling;
      console.log(panel.textContent)
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>
{{end}}
