{{- $_ := .Page.Params -}}
<div class="container">
    <div class="row justify-center">
        <div class="section-title">
            <h2 class="my-8 text-h4 lg:text-h2">
              {{ $_.solutions.title | markdownify }}
            </h2>
        </div>
    </div>

    {{ range $i, $s:= $_.solutions.items }}
        {{ $img := .img | default "plchldr.png" }}
        {{ $inv := (cond ( (modBool $i 2) ) "" "inv") }}
        <div class="alternate {{$inv}} flex content-center gap-x-md">
            <div class="flex-initial img-hldr">
                <img src='/assets/images/bg/{{$img}}'>
            </div>
            <div class="flex-initial txt-hldr">
                <h3 class="alt-title">{{ $s.title }}</h3>
                <p class="alt-txt">{{ $s.text }}</p>
            </div>
        </div>
    {{ end }}

</div>
